<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTML</title>
</head>
<body>
    <p>Mostrando atributo 1 con el valor: <%- atribute_1 -%> </p>
    <p>Mostrando atributo 2 con el valor: <%- atribute_2 -%> </p>
</body>
</html>
